*.[oa]
*.dll
*.so
*.dylib
*~
version.c

games/_all
games/_mgw
games/**/*.mgw
games/**/*.srm
games/**/*.zip
games/**/*.bs
games/**/bin
games/**/data
games/**/manual
games/**/src
games/**/mgw
games/**/zip
games/**/README.txt
games/**/unit1.lua
games/**/Makefile
